@charset "UTF-8";
* {
  /* Återställa alla margin till 0 */
  margin: 0;
  /* Återställa alla padding till 0 */
  padding: 0;
  /* Inkludera padding och ramkanter i bredden och höjden. */
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.card {
  /* Maxbredd för kortet ska vara 100%. */
  max-width: 100%;
}

.ck-editor__editable_inline {
  /* Höjden för Ckeditor container ska vara 40 vh. */
  min-height: 40vh !important;
}

.FAQicon {
  /* Låt ladda ner bilden ha bredden: 5 vw. */
  width: 1vw;
  /* Låt ladda ner bilden ha höjden: 1 vh. */
  height: 1vh;
  /* Flytta ikonen upåt till 60 pixlar. */
  margin-bottom: -70px;
  /* Flytta ikonen till vänster 10 pixlar. */
  margin-left: 10px;
}

.cardimage {
  /* Maxhöjden för kortbild ska vara 40 vh. */
  max-height: 40vh;
  /* Bredden för kortsbild ska vara 800 vw. */
  width: 80vw;
  /* Minsta höjd för kortsbild ska vara 35 vh. */
  min-height: 35vh;
}

.downloadicon {
  /* Låt ladda ner bilden ha bredden: 3 vw. */
  width: 3vw;
  /* Låt ladda ner bilden ha höjden: 3 vh. */
  height: 3vh;
}

.stafficon {
  /* Låt ladda ner bilden ha bredden: 1 vw. */
  width: 1vw;
  /* Låt ladda ner bilden ha höjden: 1 vh. */
  height: 1vh;
  /* Flytta ikonen upåt till 60 pixlar. */
  margin-bottom: -60px;
  /* Flytta ikonen till höger 1 pixlar. */
  margin-left: -1px;
}

.headicon {
  /* Låt ladda ner bilden ha bredden: 20 pixlar. */
  width: 20px;
  /* Låt ladda ner bilden ha höjden: 2 vh. */
  height: 2vh;
  /* Flytta ikonen upåt till 60 pixlar. */
  margin-bottom: -60px;
  /* Flytta ikonen till vänster 10 pixlar. */
  margin-left: 10px;
}

.uploadicon {
  /* Låt ladda ner bilden ha bredden: 20 pixlar. */
  width: 20px;
  /* Låt ladda ner bilden ha höjden: 2 vh. */
  height: 2vh;
  /* Flytta ikonen upåt till 60 pixlar. */
  margin-bottom: -60px;
  /* Flytta ikonen till vänster 10 pixlar. */
  margin-left: 10px;
}

.addicon {
  /* Låt ladda ner bilden ha bredden: 20 pixlar. */
  width: 20px;
  /* Låt ladda ner bilden ha höjden: 2 vh. */
  height: 2vh;
  /* Flytta ikonen upåt till 60 pixlar. */
  margin-bottom: -60px;
  /* Flytta ikonen till höger 7 pixlar. */
  margin-left: -7px;
}

.arkivicon {
  /* Låt ladda ner bilden ha bredden: 20 pixlar. */
  width: 20px;
  /* Låt ladda ner bilden ha höjden: 2 vh. */
  height: 2vh;
  /* Flytta ikonen upåt till 60 pixlar. */
  margin-bottom: -60px;
  /* Flytta ikonen till höger 41 pixlar. */
  margin-left: -41px;
}

.adminicon {
  /* Låt ladda ner bilden ha bredden: 20 pixlar. */
  width: 20px;
  /* Låt ladda ner bilden ha höjden: 2 vh. */
  height: 2vh;
  /* Flytta ikonen upåt till 60 pixlar. */
  margin-bottom: -60px;
  /* Flytta ikonen till höger 10 pixlar. */
  margin-left: -10px;
}

.accountsettingsicon {
  /* Låt ladda ner bilden ha bredden: 20 pixlar. */
  width: 20px;
  /* Låt ladda ner bilden ha höjden: 2 vh. */
  height: 2vh;
  /* Flytta ikonen upåt till 60 pixlar. */
  margin-bottom: -60px;
  /* Flytta ikonen till höger 10 pixlar. */
  margin-left: -10px;
}

.emailicon {
  /* Låt ladda ner bilden ha bredden: 20 pixlar. */
  width: 20px;
  /* Låt ladda ner bilden ha höjden: 2 vh. */
  height: 2vh;
  /* Flytta ikonen upåt till 60 pixlar. */
  margin-bottom: -60px;
  /* Flytta ikonen till höger 10 pixlar. */
  margin-left: -10px;
}

.pswicon {
  /* Låt ladda ner bilden ha bredden: 20 pixlar. */
  width: 20px;
  /* Låt ladda ner bilden ha höjden: 2 vh. */
  height: 2vh;
  /* Flytta ikonen upåt till 60 pixlar. */
  margin-bottom: -60px;
  /* Flytta ikonen till höger 10 pixlar. */
  margin-left: -10px;
}

.specheadicon {
  /* Låt ladda ner bilden ha bredden: 20pixlar. */
  width: 20px;
  /* Låt ladda ner bilden ha höjden: 2 vh. */
  height: 2vh;
  /* Flytta ikonen uppåt till 60 pixlar. */
  margin-bottom: -60px;
  /* Flytta ikonen till vänster 10 pixlar. */
  margin-left: 10px;
}

.specheadicon2 {
  /* Låt ladda ner bilden ha bredden: 20 pixlar. */
  width: 20px;
  /* Låt ladda ner bilden ha höjden: 2 vh. */
  height: 2vh;
  /* Flytta ikonen upåt till 60 pixlar. */
  margin-bottom: -60px;
  /* Flytta ikonen till vänster 10 pixlar. */
  margin-left: 20px;
}

.specrubriktxt {
  /* Positionera elementet till sitt normala position. */
  position: relative;
  /* Flytta texten till vänster 20 pixlar. */
  left: 20px;
  z-index: -1;
}

.navlinks {
  /* Låt länkarna ha textstorlek: 20 pixlar. */
  font-size: 20px;
  /* Visa den som flex-behållare. */
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  /* Centrera navigeringslänkar. */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.thumb {
  /* Bredden för nyhetsbilder ska vara 150 pixlar. */
  width: 150px;
  /* Höjden för nyhetsbilder ska vara 15 vh. */
  height: 15vh;
}

.newsimg {
  /* Bredden för nyhetsbilder ska vara 32 vw. */
  width: 32vw;
  /* Höjden för nyhetsbilder ska vara 20 vh. */
  height: 20vh;
}

#logobild {
  /* Låt breeden för logobilden ha 250 pixlar. */
  width: 250px;
  /* Låt breeden för logobilden vara automatiskt. */
  height: auto;
}

.cardparent {
  /* Bredden ska vara 150 vw. */
  width: 150vw;
}

.dashboardnav {
  /* Låt navigeringsmeny ha bredden: 270 pixlar. */
  width: 250px;
  /* Visa den som flex-behållare. */
  display: flex;
}

.icon {
  /* Ikonerna ska ha bredden 15 pixlar. */
  width: 15px;
  /* Ikonerna ska ha höjden 1.5 vh. */
  height: 1.5vh;
  /* Ikonera ska flyttas 3 pixlar upåt, 7 pixlar högeråt, 0 nedåt och 0 vänsteråt. */
  margin: 3px 7px 0 0;
}

.mymain 
{
  /* Flytta mittensinnehåll till vänster 300 pixlar. */
  margin-left: 300px; 
  /* Flytta mittensinnehåll neråt 470 pixlar. */
	margin-top: -470px; 
}

.spec {
  /* Positionera elementet till normala position. */
  position: relative;
  /* Flytta den till vänster 5 pixlar. */
  left: 5px;
  z-index: -1;
}

.leaveicon {
  /* Bredden ska vara 20 pixlar. */
  width: 20px;
  /* Höjden ska vara 2 vh. */
  height: 2vh;
  /* Flytta ikonen upåt 75 pixlar. */
  margin-bottom: -75px;
}

.inloggad {
  /* Låt inloggad text ha textstorleken: 18 pixlar.  */
  font-size: 100%;
}

#deletebtn {
  /* Flytta knappen till vänster 12%. */
  margin-left: 12%;
}

#sendsickrequest {
  /* Flytta knappen till vänster 80%. */
  margin-left: 80%;
}

#sendleaverequest {
  /* Flytta knappen till vänster 80%. */
  margin-left: 80%;
}

#addbtn {
  /* Flytta knappen till vänster 40%. */
  margin-left: 40%;
}

@media only screen and (max-width: 1140px) {
  body {
    /* Låt sidors innehåll den bredd 100%. */
    width: 100%;
    /* Ta bort alla margin från alla sidor. */
    margin: 0;
    /* Låt texten vara responsivt att ha 100% beroende på skärmens storlek. */
    font-size: 100%;
    /* Dölja den klippta del och dölja rullningslistan i vänster- och högersdelar. */
    overflow-x: hidden;
  }
  .uploadheading {
    /* Låt inte texten sträckas till nästa rad. */
    white-space: nowrap;
  }
  .ck-editor__editable_inline {
    /* Höjden för Ckeditor container ska vara 40 vw. */
    max-width: 1000px !important;
  }
  .ck-editor__top
	{
    /* Max bredden ska vara 99.4% av hela skärmen. */
		max-width: 99.4% !important; 
	}
  img {
    /* Låt alla bilder ha bredd 100%. */
    width: 100%;
  }
  .dashboardnav {
    /* Låt navigeringsmeny ha bredden 90%. */
    width: 90%;
  }
  h1 {
    /* Låt alla h1 ha 100% textstorlek. */
    font-size: 100%;
  }
  .mymain {
    /* Visa den som tabellcell. */
    display: table-cell;
    /* Låt den ha bredden 1000 pixlar. */
    width: 1000px;
  }
  .card {
    /* Bredden ska vara 400 pixlar.  */
    width: 400px;
  }
  #deletebtn {
    /* Flytta knappen till vänster 30%. */
    margin-left: 30%;
  }
  #addfilebtn {
    /* Flytta knappen till vänster 30%. */
    margin-left: 30%;
  }
  #updatenewsbtn {
    /* Flytta knappen till vänster 30%. */
    margin-left: 30%;
  }
  #sendsickrequest {
    /* Flytta knappen till vänster 10%. */
    margin-left: 10%;
  }
  #sendleaverequest {
    /* Flytta knappen till vänster 10%. */
    margin-left: 10%;
  }
  #addbtn {
    /* Flytta knappen till vänster 30%. */
    margin-left: 30%;
  }
  .adminlist {
    /* Flytta adminlistan till vänster 30 pixlar. */
    margin-left: 30px;
  }
  .myalert {
    /* Bredden ska vara 45%. */
    max-width: 45%;
  }
  .logoutbtn {
    /* Flytta Logga ut knappen till vänster 70 pixlar. */
    margin-left: 70px;
    /* Flytta Logga ut knappen till vänster 70 pixlar. */
    margin-top: 20px;
  }
  .inloggad {
    /* Positionera elementet till den normala position. */
    position: relative;
    /* Flytta elementet till höger 40 pixlar. */
    right: 52px;
  }
  .mycard {
    /* Maxbredden ska vara 75%. */
    max-width: 75%;
  }
  .rubrik {
    /* Textstorleken för rubrik ska vara 17 pixlar. */
    font-size: 17px;
  }
  .specheadicon {
    /* Flytta ikonen uppåt till 40 pixlar. */
    margin-bottom: -40px;
  }
  .headicon {
    /* Flytta ikonen uppåt till 40 pixlar. */
    margin-bottom: -40px;
  }
  .specheadicon2 {
    /* Flytta ikonen upåt till 40 pixlar. */
    margin-bottom: -40px;
    /* Flytta ikonen till vänster 20 pixlar. */
    margin-left: 20px;
  }
  .myheading {
    /* Bredden ska vara 75%. */
    width: 75%;
  }
  .adminicon {
    /* Flytta ikonen upåt till 40 pixlar. */
    margin-bottom: -40px;
  }
  .accountsettingsicon {
    /* Flytta ikonen upåt till 40 pixlar. */
    margin-bottom: -40px;
  }
  .emailicon {
    /* Flytta ikonen upåt till 40 pixlar. */
    margin-bottom: -40px;
  }
  .pswicon {
    /* Flytta ikonen upåt till 40 pixlar. */
    margin-bottom: -40px;
  }
  .stafficon {
    /* Låt ladda ner bilden ha bredden: 4 vw. */
    width: 4vw;
    /* Låt ladda ner bilden ha höjden: 1 vh. */
    height: 1vh;
    /* Flytta ikonen upåt till 60 pixlar. */
    margin-bottom: -70px;
    /* Flytta ikonen till vänster 1 pixlar. */
    margin-left: -1px;
  }
  .FAQicon {
    /* Låt ladda ner bilden ha bredden: 5 vw. */
    width: 5vw;
    /* Låt ladda ner bilden ha höjden: 1 vh. */
    height: 1vh;
    /* Flytta ikonen upåt till 60 pixlar. */
    margin-bottom: -70px;
    /* Flytta ikonen till höger 1 pixlar. */
    margin-left: -1px;
  }
  .leaveicon {
    /* Bredden ska vara 20 pixlar. */
    width: 20px;
    /* Höjden ska vara 2 vh. */
    height: 2vh;
    /* Flytta ikonen upåt 60 pixlar. */
    margin-bottom: -60px;
    /* Flytta ikonen till vänster 10 pixlar. */
    margin-left: 10px;
  }
  .addicon {
    /* Låt ladda ner bilden ha bredden: 20 pixlar. */
    width: 20px;
    /* Låt ladda ner bilden ha höjden: 2 vh. */
    height: 2vh;
    /* Flytta ikonen upåt till 66 pixlar. */
    margin-bottom: -66px;
    /* Flytta ikonen till höger 10 pixlar. */
    margin-left: -10px;
  }
  .addFAQbtn {
    /* Flytta ikonen till vänster 120 pixlar. */
    margin-left: 120px;
  }
}